<div class="Signup">
   <h1>SIGN-UP</h1>
    <div class="sign-form">
        <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
         <p>E-MAIL ADDRESS</p>
           <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
              formControlName="emailid">
           <br/>
           <p>PASSWORD</p>
           <input type = "password" class = "fortextbox" name="passwd" 
              placeholder = "passwd" formControlName = "passwd">
           <br/>
           
           <input type = "submit" class = "forsubmit" value = "Sign-up">
        </form>
     </div>
</div>
